/* @font-face {
  font-family: 'FontWithASyntaxHighlighter';
  src: 
    url('/font/FontWithASyntaxHighlighterLightOwl-Regular.woff2') 
    format('woff2')
  ;
}
code {
  font-family: "FontWithASyntaxHighlighter", monospace;
} */

@font-face {
  font-family: "FontWithASyntaxHighlighter";
  src: url("/font/FontWithASyntaxHighlighter-Regular-Dark.woff2") format("woff2");
}

@media (prefers-color-scheme: light) {
  @font-face {
    font-family: "FontWithASyntaxHighlighter";
    src: url("/font/FontWithASyntaxHighlighter-Regular-Light.woff2") format("woff2");
  }
}

code {
  font-family: "FontWithASyntaxHighlighter", monospace;
}